{% extends 'layout.html' %}

{% block head %}
<title>{{ page.upper() }}</title>
{% endblock %}

{% block body %}

<div class="container">
   <div class="row">
      {%for i in range(0, length)%}
      <div class=" col-6">
         <div class="row">
            <div class=" col-2 text-right">
               <a class='main-a' href="{{tabs[i]['url']}}">
                  <img src="{{ url_for('static', filename='images/') }}{{ tabs[i]['image_name'] }}" alt=""
                     class="symbol-icon">
               </a>
            </div>
            <div class="col-10">
               <div class="card-body">
                  <h5 class="card-title font-weight-bold">
                     <a style="color: #213a67;" href="{{tabs[i]['url']}}">{{tabs[i]["descriptive_name"]}}</a>
                  </h5>
                  <ul class='card-body'>
                     <li>{{tabs[i]["subdescription_1"]}}</li>
                     <li>{{tabs[i]["subdescription_2"]}}</li>
                     <li>{{tabs[i]["subdescription_3"]}}</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      {%endfor%}
   </div>
</div>





{% endblock %}